/* Accent color, hero button color, left part of logo color: #2196F3 */
/* Main text color: #757575 */
/* Secondary text color: #212121 */
/* Right part of logo color in header: #000000 */
/* Right part of logo color in footer: #ffffff */
/* Background color of Hero and Footer: #2F303A */
/* Background color of overall body: #ffffff */
/* Team section background color, portfolio button color: #F5F4FA */
/* Footer address text color: rgba(255, 255, 255, 0.6) */

:root {
    /* Accent color, hero button color, left part of logo color, active state portfolio button */
    --accent-color: #2196F3;

    /* Main text color */
    --main-text: #757575;

    /* Secondary text color */
    --secondary-text: #212121;

    /* Main body color */
    --main-body: #ffffff;

    /* Right part of logo color in header */
    --right-part-logo-header: #000000;

    /* Right part of logo color in footer */
    --right-part-logo-footer: #ffffff;

    /* Hero, footer background color */
    --hero-footer-background: #2F303A;

    /* Hero header and button text color */
    --hero-header-and-button: #ffffff;

    /* Hero button hover and focus background color */
    --hero-button-hover-background: #F5F4FA;

    /* Hero button hover and focus text color */
    --hero-button-hover-text: #212121;

    /* Team section background color */
    --team-background: #F5F4FA;

    /* Team item background color */
    --team-item-background: #ffffff;

    /* Portfolio button background color */
    --portfolio-button: #F5F4FA;

    /* Portfolio button hover and focus text color */
    --portfolio-button-hover-text: #ffffff;

    /* Portfolio item background color */
    --portfolio-item-background: #ffffff;
    
    /* Footer text color */
    --footer-address-text: #ffffff;

    /* Footer text transparent color */
    --footer-address-text-transparent: rgba(255, 255, 255, 0.6);

}

/* Body */
.body-index, .body-portfolio {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--main-body, #ffffff);
    color: var(--main-text, #757575);
}

/* Reset unordered list */
.list-reset {
    list-style: none;
    padding-left: 0px;
}

/* Reset link */
.link-reset {
    text-decoration: none;
}

/* --------------------------------------Main part-------------------------------------- */

/* Header and navigation */
/* .header {
} */

/* Logo header*/
.logo {
    font-family: 'Raleway', sans-serif;
}
.logo-left {
    color: var(--accent-color, #2196F3);
}
.logo-right {
    color: var(--right-part-logo-header, #000000);
}

/* Navigation menu */
.nav-link, .contacts-link {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-text, #212121);
}

.contacts-link {
    color: var(--main-text, #757575);
}

/* Hero */
.hero, .footer {
    background-color: var(--hero-footer-background, #2F303A);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-header-and-button, #ffffff);
}
.hero-button {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color, #2196F3);
    color: var(--hero-header-and-button, #ffffff);
}

/* Our advantages */
.advantages-header {
    visibility: hidden;
}
.advantages-item-header {
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--secondary-text, #212121);
}


.advantages-item-text {
    line-height: 24px;
}

/* What we are doing */
/* .we-do {

} */
.we-do-header, .team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--secondary-text, #212121);
}

/* Our team */
.team {
    background-color: var(--team-background, #F5F4FA);
}
.team-members {
    background-color: var(--team-item-background, #ffffff);
}
.team-members-name, .team-members-title {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.team-members-name {
    font-weight: 500;
    color: var(--secondary-text, #212121);
}

/* Footer */
/* Logo footer*/
.logo-right-footer {
    color: var(--right-part-logo-footer, #ffffff);
}
.address-link {
    font-style: normal;
    line-height: 24px;
    color: var(--footer-address-text, #ffffff);
}
.reach-out-address {
    color: var(--footer-address-text-transparent, rgba(255, 255, 255, 0.6));
}

/* --------------------------------------Portfolio-------------------------------------- */

.portfolio-header {
    visibility: hidden;
}
.portfolio-button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    background-color: var(--portfolio-button, #F5F4FA);
    color: var(--secondary-text, #212121);
}
.portfolio-item {
    background-color: var(--portfolio-item-background, #ffffff);
}
.portfolio-item-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--secondary-text, #212121);
}
.portfolio-item-text {
    font-size: 16px;
    line-height: 30px;
}

/* --------------------------------------States-------------------------------------- */
/* Between those comments will be "visited" state for links */
/* Between those comments will be "visited" state for links */

/* Hover, focus */
.nav-link:hover, .nav-link:focus, .contacts-link:hover, .contacts-link:focus, .address-link:hover, .address-link:focus {
    color: var(--accent-color, #2196F3);
}

/* Between those comments will be "active" state for links */
/* Between those comments will be "active" state for links */

/* Between those comments will be "visited" state for buttons */
/* Between those comments will be "visited" state for buttons */

/* Hover, focus */
.hero-button:hover, .hero-button:focus {
    background-color: var(--hero-button-hover-background, #F5F4FA);
    color: var(--hero-button-hover-text, #212121);
}

.portfolio-button:hover, .portfolio-button:focus {
    background-color: var(--accent-color, #2196F3);
    color: var(--portfolio-button-hover-text, #ffffff);
}

/* Between those comments will be "active" state for buttons */
/* Between those comments will be "active" state for buttons */